VITE_GOOGLE_SHEETS_WEB_APP_URL=https://script.google.com/macros/s/AKfycbwrc44XwZsEkK4O1yvGxIMMS1bwOmwNYk5ZRyV3yRXARrY9SKRzrQ0G5CZgdvF8kPo1/exec
VITE_INSTAGRAM_URL=https://www.instagram.com/theorbisschools/
VITE_LINKEDIN_URL=https://www.linkedin.com/school/the-orbis-school-pune/posts/?feedView=all
VITE_FACEBOOK_URL=https://www.facebook.com/theorbisschool/
VITE_X_URL=
